Flask==0.12.2
Flask-Cors==3.0.2
Flask-PyMongo==0.5.1
Flask-RESTful==0.3.6
Flask-Session==0.3.1
Flask-SocketIO==2.9.2
gunicorn==19.7.1
httplib2==0.10.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
nltk==3.2.3
numpy==1.12.1
numpydoc==0.6.0
python-dateutil==2.6.0
requests==2.14.2
requests-oauthlib==0.8.0
sklearn==0.0

